body {
  background-image: url('https://th.bing.com/th/id/R.d3062ba658bc554a810d5ee7117608ae?rik=IGfaLBoQpAWjzw&riu=http%3a%2f%2f1.bp.blogspot.com%2f-_TvlP1OqlEw%2fTuys9Z06jVI%2fAAAAAAAAAro%2fa9CgfJr0kWU%2fs1600%2f%252528Lebanon%252529%2b-%2bA%2bfull%2bday%2btour%2bto%2bthe%2bJeita%2bGrotto%2b2.jpg&ehk=KNIVBVhfIM%2boyqLbMLlCD6WwGjynTENRMuyu4nEm6jM%3d&risl=&pid=ImgRaw&r=0');
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
h1{
  color: #d7f2e5;
  margin: 20% 20% 5%;
}
h2{
  color: #97e8cd;
}
.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Georgia;
  color: #ffffff;
  font-size: 25px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
